@model IEnumerable<TiendaVirtual.Models.StockAlert>

@{
    ViewBag.Title = "Alerta";
}

<h2>Alerta Stock</h2>

<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>STOCK</th>
            <th>FECHA</th>
            <th>ESTADO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var alert in Model)
        {
            <tr>
                <td>@alert.Producto.Nombre</td>
                <td>@alert.StockActual</td>
                <td>@alert.Fecha.ToString("yyyy-MM-dd HH:mm")</td>
                <td>
                    @Html.ActionLink("Atendido", "MarkAsAttended", new { id = alert.StockAlertId })
                </td>
            </tr>
        }
    </tbody>
</table>
