@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron text-center" style="background-image: url('~/Content/Images/hero-banner.jpg'); background-size: cover; color: white;">
    <h1>Welcome！</h1>
    <p>Find your joy</p>
    <a href="@Url.Action("Index", "Producto")" class="btn btn-primary btn-lg">SHOP</a>
</div>

